body{
  margin: 0;
  background-color:#E4F9F5 ;
  text-align: center;
  font-family:cursive;
  position: relative;
}
hr{
  border-style: none;
  border-top-style: dotted;
  border-width: 10px;
  border-color: grey;
  width:5%;
  }
.top-container{
  background-color: #EAF6F6;
  position: relative;
  padding-top: 100px;
}
.middle-container{
  background-color: lightblue;
}
.bottom-container{
  background-color: #66BFBF;
  padding: 40px 0 40px 0 ;
}
.profiledescription{
  color: #40514E;
}

.cloud1{
  position: absolute;
  right: 400px;
  top:30px;

}
.cloud2{
  position: absolute;
  left: 300px;
  bottom: 300px;
}
h1{
  font-size: 5.625rem;
  color: #66BFBF;
  margin: 50px auto 0px auto;
  font-family: "Sacramento",cursive;
}
h2{
  font-weight: normal;
  font-size: 2.5rem;
  font-family: "Montserrat",sans-serif;
  color: #11999E;
}
h3{
  color: #11999E;
  font-family: "Montserrat",sans-serif;
}
.image{
  margin: 20px;
  padding: 100px;
}
.footer-link{
  color: #11999E;
}
.btn{

}
p{
  line-height: 2;
}
.skill-row{
  width: 50%;
  margin: 100px auto;
  text-align: left;
}
.pro{
  text-decoration-line:underline;
}
.programming{
  width: 25%;
  float: left;
  margin-right: 30px;
}
.hypothesis{
  width: 25%;
  float: right;
  margin-right: 30px;
}
.Name{
  color: #EAF6F6;
}
.btn {
  background: #3498db;
  background-image: -webkit-linear-gradient(top, #3498db, #2980b9);
  background-image: -moz-linear-gradient(top, #3498db, #2980b9);
  background-image: -ms-linear-gradient(top, #3498db, #2980b9);
  background-image: -o-linear-gradient(top, #3498db, #2980b9);
  background-image: linear-gradient(to bottom, #3498db, #2980b9);
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #102938;
  background-image: -webkit-linear-gradient(top, #102938, #164c70);
  background-image: -moz-linear-gradient(top, #102938, #164c70);
  background-image: -ms-linear-gradient(top, #102938, #164c70);
  background-image: -o-linear-gradient(top, #102938, #164c70);
  background-image: linear-gradient(to bottom, #102938, #164c70);
  text-decoration: none;
}
.contact-me{
  padding:50px;
}
